<div class="d-flex flex-row align-items-center bg-light" style="height:15%">
    <div class="p-2 bd-highlight" style="margin-right:10px;"><h2>Funto</h2></div>
    <!-- Navigation-->
    <div class="p-2 bd-highlight">
        <a href="/"> Home </a>
    </div>
    <div class="p-2 bd-highlight">
        <a href="/posts"> 게시판 </a>
    </div>
</div>