<!-- 메인 클라이언트 -->

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Funto - 쉬운 투자의 시작</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Simple line icons-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/home/styles.css" rel="stylesheet" />
        <script src="/js/home/scripts.js" defer></script>
        
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <a class="menu-toggle rounded" href="#"><i class="fas fa-bars"></i></a>
        <nav id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="#page-top">Funto</a></li>
                <li class="sidebar-nav-item"><a href="#page-top">Home</a></li>
                <!-- <li class="sidebar-nav-item"><a href="signup">회원가입</a></li> -->
                <% if(session.user_id){ %>
                    <li class="sidebar-nav-item"><a href="signout">로그아웃</a></li>
                <% } else{ %>
                    <li class="sidebar-nav-item"><a href="signin">시작하기</a></li>
                <% } %>
                <li class="sidebar-nav-item"><a href="#about">About</a></li>
                <li class="sidebar-nav-item"><a href="#services">Services</a></li>
                <li class="sidebar-nav-item"><a href="#portfolio">최근 게시글</a></li>
                
            </ul> 
        </nav>
        <!-- Header-->
        <header class="masthead d-flex align-items-center">
            <div class="container px-4 px-lg-5 text-center">
                <h1 class="mb-1">FunTo</h1>
                <h3 class="mb-5"><em>재밌고 쉬운 투자</em></h3>
                <% if(session.user_id){ %>
                    <a class="btn btn-primary btn-xl" href="#about">시작하기</a>
                <% } else{ %>
                    <a class="btn btn-primary btn-xl" href="signin">시작하기</a>
                <% } %>
            </div>
        </header>
        <!-- About-->
        <section class="content-section bg-light" id="about">
            <div class="container px-4 px-lg-5 text-center">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-10">
                        <h2>MZ에게 기대와 희망을 주는 부의 사다리 펀투</h2>
                        <p class="lead mb-5">
                            펀투를 통해 재밌게 투자해보아요!
                        </p>
                        <a class="btn btn-dark btn-xl" href="#services">서비스 상세</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services-->
        <section class="content-section bg-primary text-white text-center" id="services">
            <div class="container px-4 px-lg-5">
                <div class="content-section-heading">
                    <h2 class="mb-5">Services</h2>
                </div>
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                        <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-screen-smartphone"></i></span>
                        <h4><strong>TALK</strong></h4>
                        <p class="text-faded mb-0">친구들과 함께 소통하며 투자해요</p>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                        <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-pencil"></i></span>
                        <h4><strong>LEARN</strong></h4>
                        <p class="text-faded mb-0">성투를 위해 공부해요</p>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                        <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-game-controller"></i></span>
                        <h4><strong>PLAY</strong></h4>
                        <p class="text-faded mb-0">재밌게 투자해요</p>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-question"></i></span>
                        <h4><strong>Question</strong></h4>
                        <p class="text-faded mb-0">궁금한건 물어보세요</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio-->
        <section class="content-section" id="portfolio">
            <div class="container px-4 px-lg-5">
                <div class="content-section-heading text-center">
                    <h2 class="mb-5">최근 게시글</h2>
                </div>
                <div class="row gx-0">
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="https://blog.naver.com/denzelkim/222685742989">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h1">미국 ETF 뽀개기</div>
                                    <p class="mb-0">주식형 ETF : 테마</p>
                                </div>
                            </div>
                            <img class="img-fluid" src="assets/img/portfolio-1.jpg" alt="..." />
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="https://blog.naver.com/denzelkim/222692277012">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h1">좌충우돌 투자일기</div>
                                    <p class="mb-0">[수] 러시아 ETF, 그리고 아무도 없었다.</p>
                                </div>
                            </div>
                            <img class="img-fluid" src="assets/img/portfolio-2.jpg" alt="..." />
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="https://probable-rudbeckia-abf.notion.site/dc11f53963bb418b8c2ed6008552e696">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h1">펀투고치(공동육아)</div>
                                    <p class="mb-0">좋아하는 캐릭터가 외롭지 않도록 친구들과 함께 보살펴주세요.</p>
                                </div>
                            </div>
                            <img class="img-fluid" src="assets/img/portfolio-3.jpg" alt="..." />
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="https://temporal-opera-333.notion.site/0ed3daac6310415c9b96f788cad80d76?v=6dfb62fcd6dd493a9bc1f207fbaea3f9">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h1">취미부자는 어디에 투자할까?</div>
                                    <p class="mb-0">취미 부자의 투자 THEME 정하기!</p>
                                </div>
                            </div>
                            <img class="img-fluid" src="assets/img/portfolio-4.jpg" alt="..." />
                        </a>
                    </div>
                </div>
            </div>
        </section>        
        <!-- Footer-->
        <footer class="footer text-center">
            <div class="container px-4 px-lg-5">
                <ul class="list-inline mb-5">
                    <li class="list-inline-item">
                        <a class="social-link rounded-circle text-white mr-3" href="https://blog.naver.com/denzelkim">
                            <i class="fa-solid fa-n"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="social-link rounded-circle text-white mr-3" href="https://www.instagram.com/p/CcAG1kapLTp/?utm_medium=share_sheet">
                            <i class="icon-social-instagram"></i
                        ></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="social-link rounded-circle text-white" href="https://github.com/adsff123/NodeJs-Funto.git">
                            <i class="icon-social-github"></i>
                        </a>
                    </li>
                </ul>
                <p class="text-muted small mb-0">Copyright &copy; Your Website 2022</p>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
