<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Funto - 쉬운 투자의 시작</title>
    
    <script src="/js/home/signup.js"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />

  </head>
  <body>
    <div class="mx-auto m-5 container px-4 px-lg-5 text-center">
        <h1 class="mb-1">FunTo</h1>
        <h3 class="mb-5"><em>재밌고 쉬운 투자</em></h3>

        <h2>로그인</h2>
    </div>
    <form method = "post" name="signinForm" action="index.html" class="mx-auto m-5 container">
      <label for="user_id" class="form-label">아이디</label>
      <input type="text" class="mb-3 form-control" id="user_id" size="10" required autofocus>

      <label for="user_password" class="form-label">비밀번호</label>
      <input type="password" class="mb-3 form-control" id="user_password" required>

      <button type="button" class="mx-auto mt-3 btn btn-outline-primary" style="width:100%" onclick="signin()" >로그인</button>

      <button type="button" class="mx-auto mt-1 btn btn-outline-info" style="width:100%" onclick="location.href = 'signup.html'" >회원가입</button>

    </form>
   <script src="../js/user.js"></script>

  </body>
</html>
